* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.5rem;
}

body {
  color: white;
  background-color: #000000;
  font-family: "Monstserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 30px 20px 100px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-family: "Tilt Neon", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #0e0e0e;
  box-shadow: inset -2px 0 5px #2d2d2d;
  /* border-radius could be added on the right hand side to give a tab effect */
}

.nav-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo,
.searchbar,
.navlinks {
  margin-bottom: 20px;
  padding: 10px 0px;
}

.logo {
  font-family: "Cousine", monospace;
  font-size: 2.5rem;
}

.searchbar {
  border: 1px solid #262626;
  border-radius: 25px;
  padding: 5px 10px;
}

.search {
  color: #ffffff;
  border: none;
  outline: none;
  padding: 2px 5px;
  background-color: transparent;
}

.navlinks li {
  font-family: "Tilt Neon", sans-serif;
  margin: 20px 0;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  /* transition to be added */
}

.navlinks li a {
  font-size: 1.2rem;
}

.navlinks li:hover {
  /* a fade transition for the hover border to appear to be added */
  /* background-color: #2d2d2d; */
  border-bottom: 2px solid #0017ff;
}

.contact {
  display: flex;
  /* padding needs to be added */
}

.contact a {
  font-size: 1.2rem;
  margin-right: 50px;
  border-bottom: 2px solid transparent;
  /* padding and transition to be added */
}

.contact a:hover {
  /* a fade transition for the hover border to appear to be added */
  border-bottom: 2px solid #0017ff;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  /* padding top needs to decrease for the first section. */
  margin: 50px 0px;
}

.title h3 {
  margin-bottom: 15px;
}

.title-images {
  display: flex;
  justify-content: space-evenly;
}

.bg-img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: #0043ff;
  box-shadow: -2px 4px 10px #b8cbff;
}
